@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Bebas Neue';
	src: url(/fonts/bebasNeue-regular.woff2);
  }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#main_content::after {
	content: '';
	position: absolute;
	top: 0;
	left: -50vw;
	width: 50vw;
	height: 100%;
	background-image: url('./img/tejidoAndino.jpg');
	background-repeat: repeat;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 1);
}

#main_content::before {
	content: '';
	position: absolute;
	right: 0;
	right: -50vw;
	width: 50vw;
	height: 100%;
	background-image: url('./img/tejidoAndino.jpg');
	background-repeat: repeat;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 1);
}

.mask1{
	-webkit-mask-image: url(./img/shape/shape1.svg);
 	 mask-image: url(./img/shape/shape1.svg);
 	 -webkit-mask-repeat: no-repeat;
 	 mask-repeat: no-repeat;
	-webkit-mask-position: center;
 	 mask-position: center;
	-webkit-mask-size: contain;
	filter: blur(100px);
}

@media (max-width: 1500px) {
	#main_content::after {
		width: 0vw;
	}
	
	#main_content::before {
		width: 0vw;
	}
}


body {
	overflow-x: hidden;
}
